# Env
.env

# Docs
diagram

# Ingestions
ingestion_python/.git
ingestion_js/.git

# Modules
embedder 
node_modules

# Resources
exefiles

# Local Netlify folder
.netlify

# Ignore Next.js build outputs
ingestion_js/.next
.next

